<ion-header>
  <ion-toolbar color="success">
    <ion-title>Cilantro</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/catalogo" ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1 class="cila" >Cilantro</h1>
    <img src="assets/imgs/Cilantro.jpg">
    <p>
      El cilantro es una hierba aromática anual, pequeña, entre 30 y 70 cm de altura. 
      El tallo es delgado y erecto. Las hojas son alternas, pinadas y de color verde brillante. Las flores en umbelas pueden ser blancas o rosadas. El fruto es una cápsula pequeña, de color anaranjado pálido y azucarado.
       Las semillas son color café y despiden un aroma desagradable cuando están frescas.
    </p>
    <ion-list>
        <table>
          <caption class="colu">Propiedades nutritivas</caption>
          <thead>
            <tr>
              <th>Nutrientes</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Calorías</th>
              <th>297,5 Kcal</th>
            </tr>
            <tr>
              <th>Grasas monoins</th>
              <th>13,6 gr</th>
            </tr>
            <tr>
              <th>Proteínas</th>
              <th>12,4 gr</th>
            </tr>
            <tr>
              <th>Grasas poliinsat</th>
              <th>1,8 gr</th>
            </tr>
            <tr>
               <th>Calcio</th>
               <th>708,6 Mg</th>
             </tr>
             <tr>
                 <th>Grasas sats</th>
                 <th>1 gr</th>
               </tr>
               <tr>
                   <th>Magnesio</th>
                   <th>330,2 Mg</th>
                 </tr>
          </tbody>
        </table>
      </ion-list>
      <p>
          En cuanto a su valor nutritivo, el cilantro contiene principalmente calcio, fósforo, hierro, 
          vitaminas A y C; es bajo en calorías. Es una planta estimulante pero si los frutos y las semillas se 
          consumen en grandes cantidades, producen mareos e intoxicación.
          No olvidemos el dicho:  ¡Bueno es cilantro pero no tanto!  
        </p>
  
        <ion-row>
            <p class="colu2"><ion-col><ion-icon name="cog"></ion-icon> TEMPORADA</ion-col>
              </p>
            </ion-row>
            <ion-list>
                <table>
                  <thead>
                    <tr>
                      <th> CLIMA FRÍO</th>
                       <th>CLIMA TEMPLADO</th>
                       <th>CLIMA CÁLIDO</th>
                       <th>CLIMA EXTREMOSO</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Todo el año</th>
                      <th>Todo el año</th>
                      <th>Mar.- Jul. </th>
                      <th>Oct.- Dic.</th>
                    </tr>
                  </tbody>
                </table>
              </ion-list>
              <ion-row >
                  <ion-col  col-12>    
                      <p class="colu3"><ion-icon name="stopwatch"></ion-icon>Tiempo de cultivo de 45-70 días aproximadamente.</p>
                  </ion-col>
                </ion-row>
    

</ion-content>
