<ion-header>
  <ion-toolbar color="success">
    <ion-title>Perejil</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/catalogo" ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1 class="colorpere" >Perejil</h1>
    <img src="assets/imgs/perejil.jpg">
    <p>
        El perejil es uno de los condimentos más utilizados en la cocina mediterránea. Principalmente 
        se utiliza para aromatizar muchos platos, pero también puede tomarse en infusión, e incluso su jugo fresco.
        Contiene aceites esenciales, uno de los más importantes es el apiol para combatir la halitosis o mal olor de boca, se recomienda mascar unas hojas de perejil.
    </p>
    <ion-list>
        <table>
          <caption class="colu">Propiedades nutritivas</caption>
          <thead>
            <tr>
              <th>Nutrientes</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Carbohidratos</th>
              <th>7.4 g</th>
            </tr>
            <tr>
              <th>Proteínas</th>
              <th>4.43 g</th>
            </tr>
            <tr>
              <th>Fibra</th>
              <th>4.25 g</th>
            </tr>
            <tr>
              <th>Grasas</th>
              <th>0.36 g</th>
            </tr>
            <tr>
               <th>Sodio</th>
               <th>37 mg</th>
             </tr>
             <tr>
                 <th>Calcio</th>
                 <th>179 mg</th>
               </tr>
               <tr>
                   <th>Hierro</th>
                   <th>3.6 mg</th>
                 </tr>
          </tbody>
        </table>
      </ion-list>

      <p>
          Originario del mediterráneo oriental, esta hierba es sumamente conocida y popular por su uso en la cocina y por sus propiedades medicinales. Es una planta herbácea que vive dos años, de color verde encendido y olor inconfundible, con hojas divididas en tiras con formas de cuñas; tiene pequeñas florecitas verde-amarillas, 
          que están dispuestas en umbelas compuestas. El tallo es cilíndrico, estirado y liso
          , muy bueno para combatir problemas de la piel, útil contra las úlceras y
          Su alto contenido en vitaminas y minerales lo hace ideal para 
                combatir y prevenir anemia, anorexia, debilidad general, fatiga, cansancio físico y mental.
            
      </p>

      <ion-row>
          <p class="colu2"><ion-col><ion-icon name="cog"></ion-icon> TEMPORADA</ion-col>
            </p>
          </ion-row>

          <ion-list>
              <table>
                <thead>
                  <tr>
                    <th> CLIMA FRÍO</th>
                     <th>CLIMA TEMPLADO</th>
                     <th>CLIMA CÁLIDO</th>
                     <th>CLIMA EXTREMOSO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Todo el año</th>
                    <th>Todo el año</th>
                    <th>Oct. - Mar.</th>
                    <th>Mar. - Sep</th>
                  </tr>
                </tbody>
              </table>
            </ion-list>

      <ion-row >
          <ion-col  col-12>    
              <p class="colu3"><ion-icon name="stopwatch"></ion-icon>Tiempo de cultivo de 75-90 días aproximadamente.</p>
          </ion-col>
        </ion-row>

</ion-content>
