<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Garbanzo</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/catalogo" ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1 class="colortextos" >Garbanzo</h1>
    <img src="assets/imgs/garbanzos.jpg">
    <p >
      El garbanzo destaca entre las legumbres tradicionales por su aporte de hidratos de 
      carbono de absorción lenta, que proporcionan energía.Es un alimento indispensable en una dieta sana y equilibrada.
      El garbanzo es un alimento apto para todo tipo de personas, pero en algunos casos su consumo se hace más conveniente.
      Su aporte de carbohidratos y proteínas lo hacen muy adecuado para estados de astenia, niños, adolescentes y personas que realizan esfuerzos físicos, como los deportistas.
    </p>

    <ion-list>
        <table>
          <caption class="colu">Propiedades nutritivas</caption>
          <thead>
            <tr>
              <th>Nutrientes</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Calorías</th>
              <th>305 kcal</th>
            </tr>
            <tr>
              <th>Hidratos de Carbono</th>
              <th>48.6 grs</th>
            </tr>
            <tr>
              <th>Proteínas</th>
              <th>20 grs</th>
            </tr>
            <tr>
              <th>Grasas</th>
              <th>3.4 grs</th>
            </tr>
            <tr>
               <th>Fibra</th>
               <th>9.5 grs</th>
             </tr>
           </tbody>
        </table>
      </ion-list>

      <p>
          Dentro del grupo de las leguminosas, los garbanzos poseen propiedades para tratar la hipercolesterolemia, 
          gracias a sus componentes principales tales como fibra, fitoesteroles, vitaminas y minerales. 
        </p>
  
        <ion-row>
            <p class="colu2"><ion-col><ion-icon name="cog"></ion-icon> TEMPORADA</ion-col>
              </p>
            </ion-row>
            <ion-list>
                <table>
                  <thead>
                    <tr>
                      <th> CLIMA FRÍO</th>
                       <th>CLIMA TEMPLADO</th>
                       <th>CLIMA CÁLIDO</th>
                       <th>CLIMA EXTREMOSO</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>15 Nov.- 30 Dic</th>
                      <th>Nov. - Feb.</th>
                      <th>No aplica</th>
                      <th>No aplica</th>
                    </tr>
                  </tbody>
                </table>
              </ion-list>
        
      
              <ion-row >
                  <ion-col  col-12>    
                      <p class="colu3"><ion-icon name="stopwatch"></ion-icon>Tiempo de cultivo de 100-110 días aproximadamente.</p>
                  </ion-col>
                </ion-row>

</ion-content>
