<ion-header >
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Catálogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h2 text-center><b>Hortalizas</b></h2>
    <ion-card (click)="enviar_zana()" >
        <ion-card-header>
            <img src="assets/imgs/zana.jpg"/>
          <ion-card-subtitle>Consumidora ligera </ion-card-subtitle>
          <ion-card-title>Zanahoria</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <p>
                La zanahoria es una planta herbácea hojas recortadas, 
                flores blancas y raíz puntiaguda, jugosa y comestible, perteneciente a 
                la familia umbelíferas (Umbelliferae), 
                y su nombre botánico es Daucus carota var. sativa.
                 Es la hortaliza más importante y de mayor y consumo de la familia.
              </p>
        </ion-card-content>
      </ion-card>

      <ion-card (click)="enviar_papa()">
        <ion-card-header>
          <img src="assets/imgs/potato.jpg"/>
          <ion-card-subtitle>Hortaliza voras</ion-card-subtitle>
          <ion-card-title>Papa</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p text-justify>
              La Patata es originaria del altiplano Andino en el siglo VIII a. J.C.. 
              Llegó a España con los conquistadores Españoles en 1570 y de España pasó al resto de Europa, 
              a partir de 1593. A partir del s. XVIII es cuando se extiende de forma masiva sus 
              cultivos y empieza a tener la importancia que se le da ahora.
          </p>
        </ion-card-content>
      </ion-card>

      <ion-card (click)="enviar_cebolla()">
        <ion-card-header>
          <img src="assets/imgs/cebolla.png"/>
          <ion-card-subtitle>Hortaliza voras</ion-card-subtitle>
          <ion-card-title>Cebolla</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p text-justify>
            La cebolla pertenece a la familia de las Liliáceas.
             La cebolla es la parte subterránea en forma de bulbo amarillo rojo violáceo de una 
             pequeña planta, la cual tiene sus verdes ramas verdes y redondas, 
             que están huecas por dentro. 
        </p>
        </ion-card-content>
      </ion-card>

      <ion-card (click)="enviar_ajo()">
        <ion-card-header>
          <img src="assets/imgs/ajo.jpg"/>
          <ion-card-subtitle>Hortaliza voras</ion-card-subtitle>
          <ion-card-title>Ajo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p text-justify>
            El ajo es una planta de raiz bulbosa perteneciente a la familia de las Liliáceas. Al bulbo se le denomina "cabeza", que está compuesta por yemas que forman cada uno de los dientes, 
            normalmente entre 7 y 15 por cabeza, colocados de manera superpuesta. 
            Estos dientes están recubiertos por una capa gris o violácea que, al retirarla, desprende un aroma penetrante. 
        </p>
        </ion-card-content>
      </ion-card>

      <ion-card (click)="enviar_acelga()">
        <ion-card-header>
          <img src="assets/imgs/acelga.jpg"/>
          <ion-card-subtitle>Hortaliza donadora</ion-card-subtitle>
          <ion-card-title>Acelga</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p text-justify>
            La acelga es una planta de la familia de las Amarantáceas. 
            Se trata de una hortaliza de hojas grandes, brillantes, onduladas y de color verde con nerviaciones muy marcadas y tallo blanco. 
            La acelga presenta una diversidad limitada. Se clasifican tanto por el color y tamaño de sus hojas, tonalidad y grosor de la penca como diferenciando entre las de hoja lisa o rizada.
        </p>
        </ion-card-content>
      </ion-card>

      <ion-card (click)="enviar_albahaca()">
        <ion-card-header>
          <img src="assets/imgs/albahaca.jpg"/>
          <ion-card-subtitle>Hortaliza voras</ion-card-subtitle>
          <ion-card-title>Albahaca</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p text-justify>
            Ocimum basilicum denominada vulgarmente como albahaca o alhábega, 
            es una hierba aromática anual de la familia de las lamiáceas nativa de Irán, 
            India y otras regiones tropicales de Asia, que lleva siendo cultivada más de 5.000 años.
        </p>
        </ion-card-content>
      </ion-card>

      <ion-card (click)="enviar_cilantro()">
        <ion-card-header>
          <img src="assets/imgs/Cilantro.jpg"/>
          <ion-card-subtitle>Hortaliza voras</ion-card-subtitle>
          <ion-card-title>Cilantro</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p text-justify>
            El cilantro es una hierba aromática anual, pequeña, entre 30 y 70 cm de altura.
             El tallo es delgado y erecto. 
             Las hojas son alternas, pinadas y de color verde brillante. 
             Las flores en umbelas pueden ser blancas o rosadas. 
             El fruto es una cápsula pequeña, de color anaranjado pálido y azucarado. Las semillas son color café y 
             despiden un aroma desagradable cuando están frescas.
        </p>
        </ion-card-content>
      </ion-card>

      <ion-card (click)="enviar_hierbabuena()">
        <ion-card-header>
          <img src="assets/imgs/hierbabuena.jpg"/>
          <ion-card-subtitle>Hortaliza voras</ion-card-subtitle>
          <ion-card-title>Hierbabuena</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p text-justify>
            La planta de hierbabuena, también conocida como menta verde, 
            cuyo nombre científico es Mentha spicata, tiene varias propiedades medicinales. 
            La hierbabuena posee propiedades antisépticas y analgésicas, 
            por lo cual es muy recomendable su aplicación externa, en casos de presentar heridas, 
            producto de cortes o contusiones
        </p>
        </ion-card-content>
      </ion-card>
      
      <ion-card (click)="enviar_perejil()">
        <ion-card-header>
          <img src="assets/imgs/perejil.jpg"/>
          <ion-card-subtitle>Hortaliza voras</ion-card-subtitle>
          <ion-card-title>Perejil</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p text-justify>
            El perejil es uno de los condimentos más utilizados en la cocina mediterránea. 
            Principalmente se utiliza para aromatizar muchos platos, 
            pero también puede tomarse en infusión, e incluso su jugo fresco. 
        </p>
        </ion-card-content>
      </ion-card>

      <ion-card (click)="enviar_frijol()">
        <ion-card-header>
          <img src="assets/imgs/alubias.jpg"/>
          <ion-card-subtitle>Hortaliza voras</ion-card-subtitle>
          <ion-card-title>Frijol</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p text-justify>
            En el mundo se conocen alrededor de 150 especies de frijoles, de las cuales 
            50 se encuentran en México con gran variedad de tamaños, colores y requerimientos ecológicos.
          </p>
        </ion-card-content>
      </ion-card>

      <ion-card (click)="enviar_lenteja()">
        <ion-card-header>
          <img src="assets/imgs/lentejas.jpg"/>
          <ion-card-subtitle>Hortaliza voras</ion-card-subtitle>
          <ion-card-title>Lenteja</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p text-justify>
            Las lentejas forman parte de numerosas recetas de la cocina nacional e internacional, 
            desde los platos tradicionales hasta los más sofisticados. Y pueden ser la base en la 
            preparación de primeros platos, ensaladas, guarnición e incluso ser platos únicos.
        </p>
        </ion-card-content>
      </ion-card>

      <ion-card (click)="enviar_garbanzo()">
        <ion-card-header>
          <img src="assets/imgs/garbanzos.jpg"/>
          <ion-card-subtitle>Hortaliza voras</ion-card-subtitle>
          <ion-card-title>Garbanzos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p text-justify>
            El garbanzo destaca entre las legumbres tradicionales por su aporte de hidratos 
            de carbono de absorción lenta, que proporcionan energía.
            Es un alimento indispensable en una dieta sana y equilibrada.
        </p>
        </ion-card-content>
      </ion-card>

      <ion-card (click)="enviar_pimiento()">
        <ion-card-header>
          <img src="assets/imgs/pimiento.jpg"/>
          <ion-card-subtitle>Hortaliza voras</ion-card-subtitle>
          <ion-card-title>Pimiento</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p text-justify>
            El pimiento es el fruto hueco de una planta herbácea que recibe su mismo nombre. 
            Pertenece a la familia de las Solanáceas y, en concreto, al género Capsicum.
        </p>
        </ion-card-content>
      </ion-card>

      <ion-card (click)="enviar_chicharo()">
        <ion-card-header>
          <img src="assets/imgs/chicharo.jpg"/>
          <ion-card-subtitle>Hortaliza voras</ion-card-subtitle>
          <ion-card-title> Chícharo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p text-justify>
            El chícharo, guisante, arveja o arbeyu, entre otros nombres, 
            es como se conoce a las semillas de la planta Pisum sativum, 
            denominada generalmente con los mismos nombres coloquiales. 
            Los chícharos son alimentos muy populares y apreciados por su valor nutricional.
        </p>
        </ion-card-content>
      </ion-card>

      <ion-card (click)="enviar_calabaza()">
        <ion-card-header>
          <img src="assets/imgs/calabaza.jpg"/>
          <ion-card-subtitle>Hortaliza voras</ion-card-subtitle>
          <ion-card-title> Calabaza</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p text-justify>
            La calabaza es el fruto en baya de la calabacera y pertenece a la familia de las Cucurbitáceas. 
            Esta familia comprende unas 850 especies de plantas, en su mayoría herbáceas, 
            trepadoras o rastreras, que producen frutos grandes y protegidos por una corteza firme. 
            Algunas frutas como la sandía y el melón, junto con hortalizas tan comunes como el pepino o el calabacín, 
            pertenecen a esta misma familia.
          </p>
        </ion-card-content>
      </ion-card>
</ion-content>
