<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Frijol</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/catalogo" ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1 text-center ><b>Frijol</b></h1>
    <img src="assets/imgs/alubias.jpg">
    <p>En el mundo se conocen alrededor de 150 especies de frijoles, de las cuales 50 se encuentran 
      en México con gran variedad de tamaños, colores y requerimientos ecológicos.
      Las plantas de frijol son hierbas rastreras y trepadoras con foliolos de tres hojas. El color de sus flores tiene tonalidades rosas, lilas y violetas. Sus semillas, lo que conocemos como frijol propiamente, 
      tiene forma de riñón y crecen en una vaina comestible como legumbre (ejotes, del náhuatl exotl). </p>

      <ion-list>
          <table>
            <caption class="colu">Propiedades nutritivas</caption>
            <thead>
              <tr>
                <th>Nutrientes</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Calorías</th>
                <th>304,6 kcal</th>
              </tr>
              <tr>
                <th>Hidrato</th>
                <th>54,8 g</th>
              </tr>
              <tr>
                <th>Proteínas</th>
                <th>21,4 g</th>
              </tr>
              <tr>
                <th>Grasas totales</th>
                <th>1,5 g</th>
              </tr>
              <tr>
                 <th>Fibra</th>
                 <th>21,3 mg</th>
               </tr>
               <tr>
                   <th>Potasio</th>
                   <th>1160 mg</th>
                 </tr>
                 <tr>
                     <th>Hierro</th>
                     <th>6,2 mg</th>
                   </tr>
            </tbody>
          </table>
        </ion-list>
        <p>
            El frijol prospera en climas fríos y cálidos, tiene variedades trepadoras y enanas. 
            Se cultiva en suelos no muy salinos, con índice medio de lluvias, se cultiva en lugares donde el calor del sol llegue al tallo de la planta 
            Los frijoles poseen un alto contenido en proteínas y en fibra, siendo así mismo una fuente excelente de minerales. También cabe destacar la elevada cantidad de folatos que aporta 
            y el contenido equilibrado en demás vitaminas del grupo B exceptuando la B12.
        </p>
        <ion-row>
          <p class="colu2"><ion-col><ion-icon name="cog"></ion-icon> TEMPORADA</ion-col>
            </p>
          </ion-row>
          <ion-list>
            <table>
              <thead>
                <tr>
                  <th> CLIMA FRÍO</th>
                   <th>CLIMA TEMPLADO</th>
                   <th>CLIMA CÁLIDO</th>
                   <th>CLIMA EXTREMOSO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1 Abr.- 15 Mayo</th>
                  <th>Mar. - Jun.</th>
                  <th>Sep. - Ene.</th>
                  <th>No aplica</th>
                </tr>
              </tbody>
            </table>
          </ion-list>
          <ion-row >
            <ion-col  col-12>    
                <p class="colu3"><ion-icon name="stopwatch"></ion-icon>Tiempo de cultivo de 60-70 días aproximadamente.</p>
            </ion-col>
          </ion-row>

</ion-content>
