<ion-header>
  <ion-toolbar>
    <ion-title>Ajo</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/catalogo" ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1 class="colortexto" >Ajo</h1>
    <img src="assets/imgs/ajo.jpg">
  <p>Ajo blanco o común: Es el de cultivo más extendido en todos los paises. Redondeado, rústico, resistente y carnoso. 
      Tiene un marcado sabor y aroma penetrante. Se suele consumir seco.</p>

       <ion-list>
         <table>
           <caption class="colu">Propiedades nutritivas</caption>
           <thead>
             <tr>
               <th>Nutrientes</th>
               <th>Cantidad</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <th>Calorías</th>
               <th>114 kcal</th>
             </tr>
             <tr>
               <th>Agua</th>
               <th>64 ml</th>
             </tr>
             <tr>
               <th>Hidratos de carbono</th>
               <th>24 g</th>
             </tr>
             <tr>
               <th>Proteínas</th>
               <th>5,3 g</th>
             </tr>
             <tr>
                <th>Fibra</th>
                <th>1,2 g</th>
              </tr>
              <tr>
                  <th>Potasio</th>
                  <th>530 mg</th>
                </tr>
                <tr>
                    <th>Magnesio</th>
                    <th>134 mg</th>
                  </tr>
           </tbody>
         </table>
       </ion-list>

        <p>
            El ajo es uno de los productos al que más propiedades para la salud se le atribuyen.
            Es antiséptico, depurativo, diurético, bactericida, antiinflamatorio, estimulante del apetito y vasodilatador. 
           Ayuda al sistema vascular reduciendo las tasas de colesterol y la presión arterial. 
           Diversos estudios han demostrado que los ajos son activos contra el virus A y B de la gripe.
        </p>

        <ion-row>
            <p class="colu2"><ion-col><ion-icon name="cog"></ion-icon> TEMPORADA</ion-col>
              </p>
            </ion-row>
            <ion-list>
              <table>
                <thead>
                  <tr>
                    <th> CLIMA FRÍO</th>
                     <th>CLIMA TEMPLADO</th>
                     <th>CLIMA CÁLIDO</th>
                     <th>CLIMA EXTREMOSO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>No aplica</th>
                    <th>Ago. - Oct.</th>
                    <th>No aplica</th>
                    <th>No aplica</th>
                  </tr>
                </tbody>
              </table>
            </ion-list>

            <ion-row >
                <ion-col  col-12>
                    
                  <p class="colu3"> <ion-icon name="stopwatch"></ion-icon>Tiempo de cultivo de 165-180 días aproximadamente.</p>
                  
                </ion-col>
            </ion-row>


</ion-content>
