<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Gallinero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card >
        <ion-card-header>
          1.¿CÓMO LAS ALIMENTO?
        </ion-card-header>
        <ion-card-content text-justify>
            Como alimento principal debemos proporcionarles una mezcla de granos como maíz, 
            centeno, trigo, cebada… Lo ideal sería tenerlas semi-sueltas porque se alimentarían ellas solas
            de lo que encuentren pero bien es sabido que las gallinas escarban mucho, se comen las hojas de
            las hortalizas y están expuestas a depredadores como gatos u otros animales.
            <img src="assets/imgs/perejil.jpg"/>
        </ion-card-content>
      </ion-card>  
    
      <ion-card>
          <ion-card-header>
            2.¿LES DEBO PONER AGUA?
          </ion-card-header>
          <ion-card-content text-justify>
              El agua es muy importante para las gallinas tanto como cualquier ser vivo,
              una gallina sedienta puede beber hasta 0,5 litros al día.
              <img src="assets/imgs/agua.jpg"/>
          </ion-card-content>
      </ion-card>
    
      <ion-card >
          <ion-card-header >
           3.¿QUÉ TIPO DE COMEDERO? 
          </ion-card-header>
          <ion-card-content text-justify>
              El comedero debe ser proporcional en tamaño dependiendo del número
         de gallinas que tengamos, los más rústicos que se suelen usar es una tubería cortada por 
         la mitad con varios soportes o los típicos comederos colgantes, pero si no tienes ni idea
          de como hacer uno, nosotros te explicamos como hacer un comedero casero en el apartado
         INSTRUCCIONES.
         <img src="assets/imgs/comedor.jpg"/>
          </ion-card-content>
      </ion-card>
    
      <ion-card >
          <ion-card-header>
            4.¿ES NECESARIO TENER GALLO?
          </ion-card-header>
          <ion-card-content text-justify>
            Las gallinas siempre ponen huevos, tengan gallo o no, la diferencia es que
            no están fertilizados y no vamos a tener pollitos. Por lo que podemos montar el gallinero
            sin un gallo en principio.
            <img src="assets/imgs/gallo.png"/>
          </ion-card-content>
      </ion-card>
    
      <ion-card >
          <ion-card-header>
            5.¿CUÁNDO PONE HUEVOS?
          </ion-card-header>
          <ion-card-content text-justify>
            A partir de los 6 meses de edad hasta los 2 años las gallinas ponen huevos con
            bastante asiduidad, dependiendo de las condiciones en las que viva pueden llegar hasta 15
            años pero cuanto más vieja menos huevos ponen.
            <img src="assets/imgs/puesta.jpg"/>
          </ion-card-content>
      </ion-card>

      <ion-card >
          <ion-card-header>
            6.¿CÓMO CONSERVAR LOS HUEVOS?
          </ion-card-header>
          <ion-card-content text-justify>
              Simplemente guardamos hueveras de algún familiar que nos la pueda dar o de
              los huevos que compramos en el supermercado, cuando recojamos los huevos puede pasar que
              estén limpios o sucios, si están limpios es mucho más fácil pues simplemente los colocamos
              en la nevera y si están sucios debemos lavarlos en seco con un paño sin mojarlo pues el huevo
              es poroso y si lo mojamos pues pasará la suciedad hacía su interior Los huevos no van a durar
              eternamente aunque los conservemos, debemos consumirlos entre 3 y 5 semanas.
              <img src="assets/imgs/huevera.png"/>
          </ion-card-content>
      </ion-card>

      <ion-card >
          <ion-card-header>
              7.¿CÓMO SE SI UN HUEVO ESTÁ MALO?
          </ion-card-header>
          <ion-card-content text-justify>
              Si sospechamos que algún huevo pueda estar en mal estado el truco más sencillo
              del mundo es poner un cubo con agua y colocar el huevo, si flota es que está en mal estado.
              <img src="assets/imgs/flota.png"/>
          </ion-card-content>
      </ion-card>
         
      <ion-card >
          <ion-card-header>
            8.¿CÓMO HACERLE UNA CAMA?
          </ion-card-header>
          <ion-card-content text-justify>
            Las gallinas son aves y tienen el instinto de ir a los árboles a dormir por la
            noche por lo que colocar palos a diferentes alturas sujetos a la pared les bastará para
            usarlo como dormidero.
            <img src="assets/imgs/camita.jpg"/>
          </ion-card-content>
      </ion-card>
    
      <ion-card >
          <ion-card-header>
            9.¿LAS GALLINAS NECESITAN SOL?
          </ion-card-header>
          <ion-card-content text-justify>
            Esto es algo importante que muchas veces no se tiene en cuenta, una gallina 
            necesita 14 o 15 horas diarias de sol para poner huevos de forma normal. 
            Debemos orientar el gallinero hacía el sur para que le de más sol al día.
            <img src="assets/imgs/sol.jpg"/>
          </ion-card-content>
      </ion-card>
      
      <ion-card >
          <ion-card-header>
            10.¿SE PUEDE USAR EL ESTIÉRCOL?
          </ion-card-header>
          <ion-card-content text-justify>
            Si claro, pero debemos tener cuidado y no aplicarlo directamente al terreno
            sino que lo debemos diluir mediante el método PURIN DE GALLINAZA porque es muy ácido 
            y nos pueden quemar las plantas. Recomendamos barrer y limpiar cada 2 dias el espacio.
          </ion-card-content>
      </ion-card>

</ion-content>
