ion-content{
    --ion-background-color:rgb(22, 206, 22);
}
.colorcard{
    color:rgb(2, 223, 5);
}
ion-card{
    background-color:rgb(245, 239, 239); 
    box-shadow: none;
    text-align: justify;
    font-weight: bolder;
}
