<ion-header>
  <ion-toolbar>
    <ion-title>Cebolla</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/catalogo" ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1 class="colortexto" >Cebolla</h1>
    <img src="assets/imgs/cebolla.png">
  <p>La cebolla pertenece a la familia de las Liliáceas. 
      La cebolla es la parte subterránea en forma de bulbo amarillo rojo violáceo de una pequeña planta,
       la cual tiene sus verdes ramas verdes y redondas, que están huecas por dentro.
       La cebolla blanca se recolecta a finales de primavera y las de color se recogen a finales de verano.</p>

       <ion-list>
         <table>
           <caption class="colu">Propiedades nutritivas</caption>
           <thead>
             <tr>
               <th>Nutrientes</th>
               <th>Cantidad</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <th>Agua</th>
               <th>86 g</th>
             </tr>
             <tr>
               <th>Hierro</th>
               <th>0.50 mg</th>
             </tr>
             <tr>
               <th>Prótidos</th>
               <th>1.4 g</th>
             </tr>
             <tr>
               <th>Manganeso</th>
               <th>0.25 mg</th>
             </tr>
             <tr>
                <th>Lípidos</th>
                <th>0.2 g</th>
              </tr>
              <tr>
                  <th>Calcio</th>
                  <th>32 mg</th>
                </tr>
                <tr>
                    <th>Fósforo</th>
                    <th>44 mg</th>
                  </tr>
           </tbody>
         </table>
       </ion-list>

        <p>
            Se cultiva en todos los países europeos del mediterráneo, así como en los países árabes. 
          Aunque el principal productor es México.

Es una planta de climas templados y no húmedos, necesita terrenos no calcáreos, sueltos, sanos, profundos y ricos en materia orgánica.
        </p>

        <ion-row>
            <p class="colu2"><ion-col><ion-icon name="cog"></ion-icon> TEMPORADA</ion-col>
              </p>
            </ion-row>
            <ion-list>
              <table>
                <thead>
                  <tr>
                    <th> CLIMA FRÍO</th>
                     <th>CLIMA TEMPLADO</th>
                     <th>CLIMA CÁLIDO</th>
                     <th>CLIMA EXTREMOSO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1 Jun. - 30 Jun.</th>
                    <th>Todo el año</th>
                    <th>Oct.- Ene.</th>
                    <th>Oct. - Nov</th>
                  </tr>
                </tbody>
              </table>
            </ion-list>

            <ion-row >
                <ion-col  col-12>
                    
                  <p class="colu3"> <ion-icon name="stopwatch"></ion-icon>Tiempo de cultivo de 135 días aproximadamente.</p>
                  
                </ion-col>
            </ion-row>

</ion-content>
