<ion-header >
  <ion-toolbar color="success">
    <ion-title>Acelga</ion-title>
      <ion-buttons slot="start">
      <ion-back-button defaultHref="/catalogo" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1 class="coloresp" >Acelga</h1>
    <img src="assets/imgs/acelga.jpg">
  <p>La acelga es una planta de la familia de las Amarantáceas. 
      Se trata de una hortaliza de hojas grandes, brillantes, onduladas y de color verde con nerviaciones muy marcadas y tallo blanco. 
      La acelga presenta una diversidad limitada. Se clasifican tanto por el color y tamaño de sus hojas, tonalidad y grosor de la penca como 
      diferenciando entre las de hoja lisa o rizada.</p>

       <ion-list>
         <table>
           <caption class="colu">Propiedades nutritivas</caption>
           <thead>
             <tr>
               <th>Nutrientes</th>
               <th>Cantidad</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <th>Calorías</th>
               <th>28,5 kcal</th>
             </tr>
             <tr>
               <th>Agua</th>
               <th>92 ml</th>
             </tr>
             <tr>
               <th>Hidratos de carbono</th>
               <th>4,5 g</th>
             </tr>
             <tr>
               <th>Fibra</th>
               <th>0,8 g</th>
             </tr>
             <tr>
                <th>Magnesio</th>
                <th>71 mg</th>
              </tr>
              <tr>
                  <th>Potasio</th>
                  <th>380 mg</th>
                </tr>
                <tr>
                    <th>Yodo</th>
                    <th>40 μgrs</th>
                  </tr>
           </tbody>
         </table>
       </ion-list>

        <p>
            Las variedades más conocidas y cultivadas por su calidad y sabor son:

            Amarilla de Lyon: Se caracteriza por tener hojas grandes, rizadas, de color verde amarillento y penca blanca. 
            Es la de mayor comercialización y muy apreciada por su calidad y excelente paladar.
        </p>

        <ion-row>
            <p class="colu2"><ion-col><ion-icon name="cog"></ion-icon> TEMPORADA</ion-col>
              </p>
            </ion-row>
            <ion-list>
              <table>
                <thead>
                  <tr>
                    <th> CLIMA FRÍO</th>
                     <th>CLIMA TEMPLADO</th>
                     <th>CLIMA CÁLIDO</th>
                     <th>CLIMA EXTREMOSO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>15 Abr.- 30 Jun</th>
                    <th>Todo el año</th>
                    <th>Oct.- Mar.</th>
                    <th>Sep.- Mar.</th>
                  </tr>
                </tbody>
              </table>
            </ion-list>

            <ion-row >
                <ion-col  col-12>
                    
                  <p class="colu3"> <ion-icon name="stopwatch"></ion-icon>Tiempo de cultivo de 50-60 días aproximadamente.</p>
                  
                </ion-col>
            </ion-row>

</ion-content>
