<ion-header>
  <ion-toolbar color="light">
    <ion-title>Calabaza</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/catalogo" ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1 class="calabaza" >Calabaza</h1>
    <img src="assets/imgs/calabaza.jpg">
    <p>
      Este fruto es originario de América Central, aunque se lo cultiva en muchos lugares del mundo. 
      Es una planta anual, herbácea, cultivada por sus frutos,
       flores y semillas; tiene un tallo flexible y rastrero. Sus hojas son grandes, 
       en forma de corazón, con los nervios bien marcados. Sus flores son de color amarillo
        y carnoso. La fruta puede ser ovalada o esférica, de color verde o naranja intenso. La pulpa de fruta s es de un color amarillento-anaranjado, densa, con un sabor dulce.
    </p>
    <ion-list>
        <table>
          <caption class="colu">Propiedades nutritivas</caption>
          <thead>
            <tr>
              <th>Nutrientes</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Potasio</th>
              <th>360 mg</th>
            </tr>
            <tr>
              <th>Betacaroteno</th>
              <th>2060 mg</th>
            </tr>
            <tr>
              <th>Calorías</th>
              <th>40 kcal</th>
            </tr>
            <tr>
              <th>Grasas</th>
              <th>0,4 g</th>
            </tr>
            </tbody>
        </table>
      </ion-list>

      <p>
          -Estimula la función del páncreas ayudando a regular los niveles de azúcar en la sangre </p>
          <p>
            -Colabora en la eliminación de mucosidades en los pulmones, bronquios y garganta. </p>
            <p>
              -Ayuda a fortalecer el sistema inmunitario por su riqueza en antioxidantes. </p>
              <p>
                -Su zumo es laxante y un buen desintoxicante del cuerpo. </p>
  
                <ion-row>
                    <p class="colu2"><ion-col><ion-icon name="cog"></ion-icon> TEMPORADA</ion-col>
                      </p>
                    </ion-row>
  
                    <ion-list>
                        <table>
                          <thead>
                            <tr>
                              <th> CLIMA FRÍO</th>
                               <th>CLIMA TEMPLADO</th>
                               <th>CLIMA CÁLIDO</th>
                               <th>CLIMA EXTREMOSO</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th>15 Abr.- 30 Jun</th>
                              <th>Mar. - May.</th>
                              <th>Nov.- Dic.</th>
                              <th>Feb.- Mar.</th>
                            </tr>
                          </tbody>
                        </table>
                      </ion-list>
  
                      <ion-row >
                          <ion-col  col-12>    
                              <p class="colu3"><ion-icon name="stopwatch"></ion-icon>Tiempo de cultivo de 120-150 días aproximadamente.</p>
                          </ion-col>
                        </ion-row> 

</ion-content>
