<ion-header>
  <ion-toolbar color="success">
    <ion-title>Chícharo</ion-title>
  <ion-buttons slot="start">
      <ion-back-button defaultHref="/catalogo" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1 class="coloresp" >Chícharo</h1>
    <img src="assets/imgs/chicharo.jpg">
    <p>
      El chícharo, guisante, arveja o arbeyu, entre otros nombres, es como se conoce a las semillas 
      de la planta Pisum sativum, denominada generalmente con los mismos nombres coloquiales.
       Los chícharos son alimentos muy populares y apreciados por su valor nutricional.
    </p>
    <ion-list>
        <table>
          <caption class="colu">Propiedades nutritivas</caption>
          <thead>
            <tr>
              <th>Nutrientes</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Calorías</th>
              <th>81 kcal</th>
            </tr>
            <tr>
              <th>Grasas totales</th>
              <th>0.4 g</th>
            </tr>
            <tr>
              <th>Sodio</th>
              <th>5 mg</th>
            </tr>
            <tr>
              <th>Potasio</th>
              <th>244 mg</th>
            </tr>
            <tr>
               <th>Carbohidratos</th>
               <th>14 g</th>
             </tr>
             <tr>
                 <th>Vitamina A</th>
                 <th>765 IU</th>
               </tr>
               <tr>
                   <th>Vitamina C</th>
                   <th>40 mg</th>
                 </tr>
          </tbody>
        </table>
      </ion-list>

      <p>
          La planta posee hojas compuestas con hasta 4 pares de folíolos, que crecen de forma alterna alrededor de los tallos. Exhiben un color verde brillante. 
          Grupos de 1-3 flores aparecen en inflorescencias localizadas en las axilas de las hojas. 
        </p>
  
        <ion-row>
            <p class="colu2"><ion-col><ion-icon name="cog"></ion-icon> TEMPORADA</ion-col>
              </p>
            </ion-row>
            <ion-list>
                <table>
                  <thead>
                    <tr>
                      <th> CLIMA FRÍO</th>
                       <th>CLIMA TEMPLADO</th>
                       <th>CLIMA CÁLIDO</th>
                       <th>CLIMA EXTREMOSO</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>10 Mar.- 15 Mar</th>
                      <th>Ago. - Dic.</th>
                      <th>No aplica</th>
                      <th>No aplica</th>
                    </tr>
                  </tbody>
                </table>
              </ion-list>
  
              <ion-row >
                  <ion-col  col-12>    
                      <p class="colu3"><ion-icon name="stopwatch"></ion-icon>Tiempo de cultivo de 90-100 días aproximadamente.</p>
                  </ion-col>
                </ion-row>

</ion-content>
