<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Instrucciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center class="centrar">
    <button class="boton"  (click)="sabias()">
        <ion-icon name="cloud-done"></ion-icon>
        ¿Sabías qué?
      </button>
    </div>

    <ion-list>
        <table>
            <caption><b>Herramientas Recomendadas</b></caption>
            <thead>
              <tr>
                <th>NOMBRE</th>
                <th>IMAGEN</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <th>Bieldo jardinero</th>
              <th><img src="assets/imgs/Bieldo.JPG"></th>
            </tr>
              <tr>
                <th>Pala recta</th>
                <th><img src="assets/imgs/Pala_recta.JPG"></th>
              </tr>
              <tr>
                  <th>Rastrillo</th>
                  <th><img src="assets/imgs/Rastrillo.JPG"></th>
                </tr>
                <tr>
                    <th>Cultivador largo</th>
                    <th><img src="assets/imgs/Cultivo_largo.JPG"></th>
                  </tr>
                  <tr>
                      <th>Cultivador</th>
                      <th><img src="assets/imgs/Cultivador.JPG" width="70" height="50"></th>
                    </tr>
                    <tr>
                        <th>Cuchara para trasplante</th>
                        <th><img src="assets/imgs/Cuchara.JPG" width="70" height="50"></th>
                      </tr>
            </tbody>
          </table>
        </ion-list>

        <p class="colu2"><ion-col><ion-icon name="partly-sunny"></ion-icon> PROCEDIMIENTO</ion-col>
          <div class="center">
              <b><p>1. Para delimitar la cama biointensiva 
                  utiliza cuatro estacas (una en cada esquina) conectadas entre sí por un cordón.
                </p></b>
            <div ><img src="assets/imgs/primerpaso.JPG"></div>
          </div>
          <br>
          <br>
          <div class="center">
              <b><p>2. Las dimensiones de  la cama pueden ser variables aunque se sugiere que  
                no exceda la distancia de los brazos. Esto se calcula  midiendo la longitud de la 
                punta de la nariz a la punta de los dedos y se multiplica por dos. (Por ejemplo: Si la distancia 
                fuera de 64 cm entonces 64 x 2 = 128 centímetros que corresponderán  al ancho de la cama). 
                </p></b>
            
          </div>
          <br>
          <br>
          <div class="center">
              <b><p>3. Se sugiere colocar pasillos entre las camas de 40 o 50 centímetros,
                 para poder acceder a ella sin tener que pisarla.
                </p></b>
          </div>
          <br>
          <br>
          <div class="center">
              <b><p>4. El largo dependerá del terreno disponible,
                 pero recomendamos una longitud de 6.5 m, o de 1.25 x 8 así tendemos camas de 10 m². 
                </p></b>
          </div>
          <br>
          <br>
          <div class="center">
              <b><p>5. Regar el área que se va a excavar durante una o dos horas si el terreno es compacto. 
                </p></b>
          </div>
          <br>
          <br>
          <div class="center">
              <b><p>6. Es recomendable usar un aspersor, ya que esto evita la compactación del suelo que se 
                produce cuando se riega directamente 
                con el chorro del agua y hacerlo por la tarde o la noche, cuando la evaporación de agua es menor.  
                </p></b>
          </div>
          <br>
          <br>
          <div class="center">
              <b><p>7. Para mejorar la textura del suelo, se puede agregar  menos de 2.5 
                centímetros de arena si el suelo es arcilloso o arcilla si el suelo es muy arenoso.
                </p></b>
          </div>
          <br>
          <br>
          <div class="center">
              <b><p>8. Esparcir  6 cubetas de 20 litros de composta e incorporarlo con el bieldo.
              </p></b>
          </div>
          <br>
          <br>
          <div class="center">
              <b><p>9. Si el suelo es pobre (arenoso o arcilloso) se podrán añadir 
                24 cubetas de 20 litros por cama de 10 m², para mejorar su textura.
    
              </p></b>
          </div>
          <br>
          <br>
          <div class="center">
              <b><p>10. Si se tiene contemplado elaborar un huerto  se recomienda empezar unos 
                meses antes con la preparación  de la composta, de lo contrario se puede utilizar 
                estiércol seco, o comprar en el vivero “tierra negra” o “de monte”.
    
    
              </p></b>
          </div>
             


</ion-content>
