<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Lenteja</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/catalogo" ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1 class="colorlente"  >Lenteja</h1>
    <img src="assets/imgs/lentejas.jpg">
    <p>
      Las lentejas forman parte de numerosas recetas de la cocina nacional e internacional, desde los platos tradicionales hasta los más sofisticados. 
      Y pueden ser la base en la preparación de primeros platos, ensaladas, guarnición e incluso ser platos únicos.
      Con el fin de potenciar aún más sus propiedades es necesario:</p>
    <p>- Consumirlas no sólo en invierno, sino también el resto del año en cremas, purés y ensaladas.</p>
    <p>- Tomarlas al menos dos o tres veces por semana. La ración sería de 50 a 80 g por persona.</p>
    <p>- Servirlas junto con alimentos ricos en vitamina C (kiwi, zumo de naranja).</p>
    <p>- Mezclarlas con cereales (arroz) para conseguir proteínas de alto valor biológico.</p>

    <ion-list>
        <table>
          <caption class="colu">Propiedades nutritivas</caption>
          <thead>
            <tr>
              <th>Nutrientes</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Calorías</th>
              <th>325 kcal</th>
            </tr>
            <tr>
              <th>Proteínas</th>
              <th>25</th>
            </tr>
            <tr>
              <th>Lípidos</th>
              <th>2,5 g</th>
            </tr>
            <tr>
              <th>Hidratos Carbono</th>
              <th>54 g</th>
            </tr>
            <tr>
               <th>Hierro</th>
               <th>8,6 mg</th>
             </tr>
             <tr>
                 <th>Calcio</th>
                 <th>60 mg</th>
               </tr>
               <tr>
                   <th>Magnesio</th>
                   <th>80 mg</th>
                 </tr>
          </tbody>
        </table>
      </ion-list>
      <p>
          Después de conocer todas las propiedades que encierran las lentejas
           podemos deducir que interesa consumirlas a personas con:</p>
           <p>- Enfermedades cardiovasculares.</p>
           <p>- Colesterol.</p>
           <p>- Diabetes.</p>
           <p>- Tránsito intestinal lento.</p>
           <p>- Bulimia o apetito intenso.</p>
           <p>- Anemia y/o déficit de hierro.</p>
           <p>- Niños y adolescentes en edad de crecimiento.</p>
        
  
           <ion-row>
              <p class="colu2"><ion-col><ion-icon name="cog"></ion-icon> TEMPORADA</ion-col>
                </p>
              </ion-row>
              <ion-list>
                  <table>
                    <thead>
                      <tr>
                        <th> CLIMA FRÍO</th>
                         <th>CLIMA TEMPLADO</th>
                         <th>CLIMA CÁLIDO</th>
                         <th>CLIMA EXTREMOSO</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Sep. - Dic.</th>
                        <th>Todo el año</th>
                        <th>Oct. - Feb</th>
                        <th>No aplica</th>
                      </tr>
                    </tbody>
                  </table>
                </ion-list>
  
      
      
          <ion-row >
              <ion-col  col-12>    
                  <p class="colu3"><ion-icon name="stopwatch"></ion-icon>Tiempo de cultivo de 100-110 días aproximadamente.</p>
              </ion-col>
            </ion-row>

</ion-content>
