<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Pimiento</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/catalogo" ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1 class="colores" >Pimiento Rojo</h1>
    <img src="assets/imgs/pimiento.jpg">
    <p>El pimiento es el fruto hueco de una planta herbácea que recibe su mismo nombre. 
      Pertenece a la familia de las Solanáceas y, en concreto, al género Capsicum.
      El principal componente del pimiento es al agua, seguido de los hidratos de carbono, lo que hace que sea una hortaliza con un bajo aporte calórico. Es una buena 
      fuente de fibra y, al igual que el resto de verduras, su contenido proteico es muy bajo y apenas aporta grasas.
    </p>

    <ion-list>
        <table>
          <caption class="colu">Propiedades nutritivas</caption>
          <thead>
            <tr>
              <th>Nutrientes</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Calorías</th>
              <th>32,90 kcal.</th>
            </tr>
            <tr>
              <th>Grasa</th>
              <th>0,90 g.</th>
            </tr>
            <tr>
              <th>Colesterol</th>
              <th>0 mg</th>
            </tr>
            <tr>
              <th>Sodio</th>
              <th>4 mg</th>
            </tr>
            <tr>
               <th>Carbohidratos</th>
               <th>4,20 g</th>
             </tr>
             <tr>
                 <th>Fibra</th>
                 <th>1,50 g</th>
               </tr>
               <tr>
                   <th>Vitamina A</th>
                   <th>539,30 ug</th>
                 </tr>
          </tbody>
        </table>
      </ion-list>

      <p>
          El pimiento destaca por su alto contenido en vitamina C y 
          vitamina B6, la cual es fundamental tanto para la parte cerebral como para el sistema nervioso central en sí.
          estaca también por su alto contenido en betacaroteno (que al entrar en el organismo se 
          transforma en vitamina A) y vitaminas del grupo B2 (además de vitamina E). 
          Por ello, es ideal para prevenir la aparición de enfermedades degenerativas y crónicas.
      </p>

      <ion-row>
          <p class="colu2"><ion-col><ion-icon name="cog"></ion-icon> TEMPORADA</ion-col>
            </p>
          </ion-row>
          <ion-list>
              <table>
                <thead>
                  <tr>
                    <th> CLIMA FRÍO</th>
                     <th>CLIMA TEMPLADO</th>
                     <th>CLIMA CÁLIDO</th>
                     <th>CLIMA EXTREMOSO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>No aplica</th>
                    <th>Jun. - Oct.</th>
                    <th>Todo el año</th>
                    <th>Jun. - Oct.</th>
                  </tr>
                </tbody>
              </table>
            </ion-list>
      
      <ion-row >
          <ion-col  col-12>    
              <p class="colu3"><ion-icon name="stopwatch"></ion-icon>Tiempo de cultivo de 130 días aproximadamente.</p>
          </ion-col>
        </ion-row>
</ion-content>
