<ion-header>
  <ion-toolbar color="success">
    <ion-title>Hierbabuena</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/catalogo" ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1 class="coloresp" >Hierbabuena</h1>
    <img src="assets/imgs/hierbabuena.jpg">
    <p>
      La planta de hierbabuena, también conocida 
      como menta verde, cuyo nombre científico es Mentha spicata, tiene varias propiedades medicinales. 
      La hierbabuena posee propiedades antisépticas y analgésicas, por lo cual es muy recomendable su 
      aplicación externa, en casos de presentar heridas, producto de cortes o contusiones
    </p>
    <ion-list>
        <table>
          <caption class="colu">Propiedades nutritivas</caption>
          <thead>
            <tr>
              <th>Nutrientes</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Agua</th>
              <th>85.55ml</th>
            </tr>
            <tr>
              <th>Proteínas</th>
              <th>3.29g</th>
            </tr>
            <tr>
              <th>Lípidos</th>
              <th>0.73g</th>
            </tr>
            <tr>
              <th>Hidratos de Carbono</th>
              <th>8.41g</th>
            </tr>
            <tr>
               <th>Fibra</th>
               <th>6.8g</th>
             </tr>
             <tr>
                 <th>Azúcares</th>
                 <th>0g</th>
               </tr>
               <tr>
                   <th>Calcio</th>
                   <th>199mg</th>
                 </tr>
          </tbody>
        </table>
      </ion-list>
      <p>
          Se cultiva muy bien en maceta y en tierra, pero necesita agua en abundancia y un buen drenaje. Requiere suelos frescos y húmedos. Utilizando esquejes se puede obtener una nueva mata 
          de hierbabuena. Después de cuatro o cinco días de haber plantado el esqueje, comienza el crecimiento de la planta.
      </p>
      <p>
        Favorece en infusión las digestiones lentas, las inflamaciones del hígado
               y vesícula, los gases intestinales, alivia de los mareos, combinando propiedades 
              estimulantes y sedantes, según el caso. También es útil como calmante de calambres musculares.
      </p>

      <ion-row>
          <p class="colu2"><ion-col><ion-icon name="cog"></ion-icon> TEMPORADA</ion-col>
            </p>
          </ion-row>
          <ion-list>
              <table>
                <thead>
                  <tr>
                    <th> CLIMA FRÍO</th>
                     <th>CLIMA TEMPLADO</th>
                     <th>CLIMA CÁLIDO</th>
                     <th>CLIMA EXTREMOSO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>No aplica</th>
                    <th>Todo el año</th>
                    <th>Todo el año</th>
                    <th>Todo el año</th>
                  </tr>
                </tbody>
              </table>
            </ion-list>

            <ion-row >
                <ion-col  col-12>    
                    <p class="colu3"><ion-icon name="stopwatch"></ion-icon>Tiempo de cultivo de 40 días aproximadamente.</p>
                </ion-col>
              </ion-row>

</ion-content>
